Source: holland
Section: utils
Priority: optional
Maintainer: BJ Dierkes <wdierkes@rackspace.com>
Build-Depends: debhelper (>= 5)
Build-Depends-Indep: python (>= 2.3.5-11), python-support (>= 0.5.6), python-setuptools (>= 0.6b3-1~)
Standards-Version: 3.8.0
XS-Homepage: http://hollandbackup.org 

Package: holland
Architecture: all 
Depends: ${python:Depends}, python-pkg-resources (>= 0.6b3-1~)
Description: A pluggable backup utility
 A pluggable backup framework which focuses on, but is not limited to, highly 
 configurable database backups.
 .
 Holland Mythos
 .
 The group came up with the name Holland in allusion to the fictional story of 
 Hans Brinker, a dutch boy who saved Holland by sticking his thumb in a leaking 
 dike hole overnight.
 .
 The Holland Skunk Works Dev Team represent the little boy, stopping the
 inevitable flood.
 .
 The ocean represents our customers, and the rising tide of MySQL backup needs 
 at Rackspace.
 .
 The dike represents Rackspace.

Package: holland-common
Architecture: all
Depends: holland (>= ${source:Version}), python-mysqldb (>= 1.2)
Recommends: mysql-client (>= 4.1)
Description: Holland Common Library Plugins
 This package provides support for common holland functionality used by
 various holland plugins.

Package: holland-mysqldump
Architecture: all
Depends: holland (>= ${source:Version}), holland-common(>= ${source:Version}), mysql-client (>= 4.1)
Description: Holland mysqldump backup plugin
 This package provides a plugin to perform backups of a MySQL database using 
 the mysqldump command.
 
Package: holland-example
Architecture: all
Depends: holland (>= ${source:Version})
Description: Holland Example Backup Plugin 
 This package provides an example of a holland plugin. 

Package: holland-maatkit
Architecture: all
Depends: holland (>= ${source:Version}), maatkit, holland-common (>= ${source:Version})
Description: Holland maatkit backup plugin
 This package provides a holland plugin to perform backups of a MySQL database
 using the Maatkit's mk-parallel-backup script. [experimental]

Package: holland-mysqlhotcopy
Architecture: all
Depends: holland (>= ${source:Version}), holland-common (>= ${source:Version})
Description: Holland "mysqlhotcopy" backup plugin
 This package provides a holland plugin to perform backups of raw datafiles in
 a MySQL instance.  This is intended to backup MyISAM or other non-transactional
 data that can be safely copied with an active table lock. [experimental]

Package: holland-mysql-lvm
Architecture: all
Depends: holland(>= ${source:Version}), lvm2
Description: Holland MySQL/LVM snapshot backup plugin
 This package provides a plugin to perform LVM snapshots for a MySQL instance
 with the holland backup framework.
