Source: holland
Section: utils
Priority: optional
Maintainer: Andrew Garner <andrew.garner@rackspace.com>
Build-Depends: 
 debhelper (>= 5), 
 python (>= 2.3.5-11),
 python-setuptools (>= 0.6b3-1~), 
 python-sphinx (>= 0.4)
Build-Depends-Indep: python-support (>= 0.5.6)
Standards-Version: 3.8.0
XS-Homepage: https://gforge.rackspace.com/gf/project/holland/

Package: holland
Architecture: all 
Depends: ${python:Depends}, python-pkg-resources (>= 0.6b3-1~)
Description: A pluggable backup utility
 A pluggable backup framework which focuses on, but is not limited to, highly 
 configurable database backups.
 .
 Holland Mythos
 .
 The group came up with the name Holland in allusion to the fictional story of 
 Hans Brinker, a dutch boy who saved Holland by sticking his thumb in a leaking 
 dike hole overnight.
 .
 The Holland Skunk Works Dev Team represent the little boy, stopping the
 inevitable flood.
 .
 The ocean represents our customers, and the rising tide of MySQL backup needs 
 at Rackspace.
 .
 The dike represents Rackspace.

Package: holland-common
Architecture: all
Depends: holland (>= ${source:Version}), python-mysqldb (>= 1.2)
Recommends: mysql-client
Description: Holland Common Library Plugins
 This package provides the common holland plugins that are generally used by
 other plugins.

Package: holland-mysqldump
Architecture: all
Depends: holland (>= ${source:Version}), holland-common(>= ${source:Version}), mysql-client
Description: Holland MySQL Dump Backup Provider Plugin
 This package provides the holland mysqldump plugin. 
 
Package: holland-example
Architecture: all
Depends: holland (>= ${source:Version})
Description: Holland Example Backup Provider Plugin 
 This package provides the holland example plugin. 

Package: holland-maatkit
Architecture: all
Depends: holland (>= ${source:Version}), maatkit, holland-common (>= ${source:Version})
Description: Holland Maatkit Library Plugins
 This package provides the holland maatkit plugin. 

Package: holland-mysqlhotcopy
Architecture: all
Depends: holland (>= ${source:Version}), holland-common (>= ${source:Version})
Description: Holland MySQL Hot Copy Backup Provider Plugin 
 This package provides the Holland mysqlhotcopy plugin. 

Package: holland-mysqllvm
Architecture: all
Depends: holland (>= ${source:Version}), holland-common (>= ${source:Version})
Replaces: holland-mysql-lvm
Description: Holland MySQL Hot Copy Backup Provider Plugin 
 This package provides the Holland mysql-lvm plugin. 

Package: holland-xtrabackup
Architecture: all
Depends: holland (>= ${source:Version}), holland-common (>= ${source:Version}), mysql-client
Description: Holland xtrabackup Backup plugin
 This package provides the holland xtrabackup plugin.
 
Package: holland-pgdump
Architecture: all
Depends: holland (>= ${source:Version}), holland-common(>= ${source:Version})
Description: Holland Postgres Backup Provider Plugin
 This package provides the holland pgdump plugin. 
 
