---
language: python
dist: xenial
python:
  - "2.6"
  - "2.7"
  - "3.6"
  - "3.7"
sudo: required
services:
  - mysql
before_install:
  - wget https://repo.percona.com/apt/percona-release_0.1-6.$(lsb_release -sc)_all.deb
  - sudo dpkg -i percona-release_0.1-6.$(lsb_release -sc)_all.deb
  - sudo apt-get update
  - sudo apt-get install percona-xtrabackup-24
install:
  - pip install -q mysqlclient
  - if [[ $TRAVIS_PYTHON_VERSION == '2.6' ]]; then travis_retry pip install mock; fi
  - if [[ $TRAVIS_PYTHON_VERSION == '2.7' ]]; then travis_retry pip install mock; fi
  - python setup.py install
script: sudo ./scripts/travis_ci.sh
